<button [routerLink]="['/searchimages']" mat-raised-button color="primary">Back to home</button>
<!-- <div class="container">
    <div class="row mB1em" *ngFor="let obj of lists;let i = index">
        <div class="col-4" *ngFor="let obj1 of obj.value">
            <div class="mT1em">
                <button (click)="edit(i,obj)" mat-raised-button color="primary">Edit</button>
                <input matInput type="text" ngModel="{{obj.name}}" value="{{obj.name}}" [disabled]>
                <input matInput type="text" ngModel="{{obj.desc}}" value="{{obj.desc}}" [disabled]>
            </div>
            <img src="{{obj1.urls.small}}" (click)="downloadFav(obj1)" class="size">
        </div>
    </div>
</div> -->

<!-- <div *ngFor="let obj of lists;let i = index">
    <input type="text" ngModel="{{obj.name}}" value="{{obj.name}}" [disabled]>
    <button (click)="edit(i,obj)" class="btn-info">Edit</button>
    <div *ngFor="let obj1 of obj.value">
        <img src="{{obj1.urls.small}}" (click)="downloadFav(obj1)" class="size">
    </div>
</div> -->


<div class="container mT1em">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let obj of lists;let i = index" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{obj.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="mT1em">
                <p style="display: inline-flex;">Title: <span><input matInput type="text" ngModel="{{obj.name}}" value="{{obj.name}}" [disabled]></span></p> 
                <p style="display: inline-flex;">Descriiption: <span><input matInput type="text" ngModel="{{obj.desc}}" value="{{obj.desc}}" [disabled]></span> 
                <button (click)="edit(i,obj)" mat-raised-button color="primary">Edit Details</button>
            </div>
            <div class="col-4" *ngFor="let obj1 of obj.value">
                <img src="{{obj1.urls.small}}" (click)="downloadImage(obj1)" class="size">
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>